.minecraft/.cache
.minecraft/coremods
.minecraft/logs
.minecraft/mods
.minecraft/resourcepacks
.minecraft/saves
.minecraft/screenshots
.minecraft/server-resource-packs
.minecraft/shaderpacks
.minecraft/texturepacks
.minecraft/icon.png
.minecraft/options.txt
.minecraft/usercache.json
.minecraft/usernamecache.json

.minecraft/config/NoChatReports/README.md

.minecraft/config/betterdeserttemples/README.txt
.minecraft/config/betterdeserttemples/forge-1_20/README.txt
.minecraft/config/betterfortresses/README.txt
.minecraft/config/betterfortresses/forge-1_20/README.txt
.minecraft/config/betterstrongholds/README.txt
.minecraft/config/betterstrongholds/forge-1_20/README.txt

.minecraft/journeymap/data
.minecraft/journeymap/icon
.minecraft/journeymap/journeymap.log

.minecraft/local/ftbchunks/data

.minecraft/rhino.local.properties

.minecraft/kubejs/README.txt

instance.cfg
mmc-pack.json
.minecraft/config/roughlyenoughitems/pinyin_double.properties
.minecraft/config/roughlyenoughitems/pinyin.properties
