.minecraft/.cache
.minecraft/coremods
.minecraft/logs
.minecraft/mods
.minecraft/resourcepacks
.minecraft/saves
.minecraft/screenshots
.minecraft/server-resource-packs
.minecraft/shaderpacks
.minecraft/texturepacks
.minecraft/icon.png
.minecraft/options.txt
.minecraft/usercache.json
.minecraft/usernamecache.json

instance.cfg
mmc-pack.json