.minecraft/.cache
.minecraft/coremods
.minecraft/logs
.minecraft/mods
.minecraft/resourcepacks
.minecraft/saves
.minecraft/server-resource-packs
.minecraft/options.txt
.minecraft/icon.png

instance.cfg
mmc-pack.json